*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
    font-size: clamp(1.124rem, 2vw, 1.25rem);
    overflow-x: hidden;
    width: 100%;
}

/* List */
nav{
    display: flex;
    height: 50px;
    align-items: center;
    position: fixed;
    width: 100%;
    background-image: url(./Asset/background.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: bottom;
}

nav .main-togle{
    position: relative;
    left: 20px;
}

nav h4{
    position: relative;
    left: 20%;
    color: #fff;
}

nav ul{
    display: inline-block;
    position: absolute;
    left: 5px;
    width: 150px;
    top: 55px;
    transform: translateX(-100%);
    list-style: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    transition: all .6s;
}

nav ul.slide{
    transform: translateX(0);
}

nav ul li{
    display: flex;
    align-items: center;
    padding: .6em;
    transition: all .5s;
}

nav ul li:hover{
    box-shadow: inset 0 0 0 .15em black;
    border-radius: 10px;
    transform: scale(1);
    background-color: #f0f0f599;
}

nav ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #111;
}

nav li a img{
    margin-left: 15px;
}

nav li a p{
    margin-left: 10px;
}

/* Hamburger bar */
.main-togle{
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.main-togle input{
    position: absolute;
    width: 40px;
    height: 28px;
    top: -1px;
    opacity: 0;
    left: -6px;
    z-index: 2;
}

.main-togle .ham{
    display: block;
    background-color: white;
    width: 29px;
    height: 3px;
    border-radius: 3px;
    transition: all .5s;
}

/* Ham animation */
.main-togle  .ham:nth-child(2){
    transform-origin: 0 0;
}

.main-togle  .ham:nth-child(4){
    transform-origin: 0 100%;
}

.main-togle input:checked ~ .ham:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.main-togle input:checked ~ .ham:nth-child(3){
    transform: scale(0);
}

.main-togle input:checked ~ .ham:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
}

/* End */

main{
    margin-top: 50px;
    position: absolute;
    z-index: -1;
}

main .tentang{
    height: 200px;
    margin: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

main .alat{
    height: 200px;
    margin: 20px 10px;
    background-color: #f0f0f599;
    border-radius: 0 20px;
}
main .refrensi{
    height: 160px;
    margin: 20px 10px;
    background-color: #f0f0f599;
    border-radius: 20px 0;
}

.alat h2, .refrensi h2{
    padding-top: 10px;
    padding-left: 10px;
}

.tentang p{
    padding: 10px;
}

.alat ul, .refrensi ul{
    padding-left: 30px;
}

.alat ul li, .refrensi ul li{
    padding: 4px;
}

/* footer */
footer{
    position: absolute;
    bottom: -90px;
    width: 100%;
    height: auto;
    z-index: 1;
    background: hsla(0, 0%, 0%, 0.895);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: white;
    padding: 10px;
    font-size: .8em;
}

/* Kontak */
main.kon div.dua{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: 700;
    width: 100%;
    padding: 20px 10px;
}
main section.kon{
    margin: 10px auto 50px auto;
    border-radius: 20px 0;
    width: 200px;
    height: 175px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(190deg,#f1f100, #12ff12);
    box-shadow: 6px 6px 4px #1f1f2f;
}

main section.kon h3 a{
    text-decoration: none;
}

