@media screen and (max-width: 767px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body{
        font-family: arial;
        font-size: clamp(1.124rem, 2vw, 1.25rem);
        overflow-x: hidden;
    }
    
    /* List */
    nav{
        display: flex;
        height: 50px;
        align-items: center;
        position: fixed;
        width: 100%;
        background-image: url(./Asset/background.jpg);
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position: bottom;
    }

    nav .main-togle{
        position: relative;
        left: 20px;
    }

    nav h4{
        position: relative;
        left: 20%;
        color: #fff;
    }
    
    nav ul{
        display: inline-block;
        position: absolute;
        left: 5px;
        width: 150px;
        top: 55px;
        transform: translateX(-104%);
        list-style: none;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        transition: all .6s;
    }

    nav ul.slide{
        transform: translateX(0);
    }
    
    nav ul li{
        display: flex;
        align-items: center;
        padding: .6em;
        transition: all .5s;
    }

    nav ul li:hover{
        box-shadow: inset 0 0 0 .15em black;
        border-radius: 10px;
        transform: scale(1);
        background-color: #f0f0f599;
    }

    nav ul li a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #111;
    }

    nav li a img{
        margin-left: 15px;
    }

    nav li a p{
        margin-left: 10px;
    }

    /* Hamburger bar */
    .main-togle{
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .main-togle input{
        position: absolute;
        width: 40px;
        height: 28px;
        top: -1px;
        opacity: 0;
        left: -6px;
        z-index: 2;
    }
    .main-togle .ham{
        display: block;
        background-color: white;
        width: 29px;
        height: 3px;
        border-radius: 3px;
        transition: all .5s;
    }

    /* Ham animation */
    .main-togle  .ham:nth-child(2){
        transform-origin: 0 0;
    }

    .main-togle  .ham:nth-child(4){
        transform-origin: 0 100%;
    }

    .main-togle input:checked ~ .ham:nth-child(2){
        transform: rotate(45deg) translate(-1px, -1px);
    }

    .main-togle input:checked ~ .ham:nth-child(3){
        transform: scale(0);
    }

    .main-togle input:checked ~ .ham:nth-child(4){
        transform: rotate(-45deg) translate(-1px, 0);
    }

    /* End */

    /* Start */
    main{
        margin-top: 50px;
        position: absolute;
        z-index: -1;
    }
    
    main .page img{
        width: 100%;
        height: 100%;
    }
    
    .page p{
        position: relative;
        top: -4.5em;
        color: #fff;
        left: .7em;
        font-size: 1.3rem;
        font-weight: 700;
        text-shadow: 2px 5px 2px black;
        font-style: italic;
    }
    
    .desc, .prog{
        background-color: #e1e1f1;
        position: relative;
        top: -70px;
        margin:  20px 10px;
        padding: .85em 1.6em;
        border-radius: 10px;
        color: rgb(0, 0, 0);
    }

    .desc h2{
        font-size: 1.6em;
        margin-left: -10px;
        margin-bottom: 10px;
    }

    .prog h2{
        font-size: 1.3em;
        margin-left: -10px;
        margin-bottom: 10px;
    }

    .desc p{
        font-size: 16px;
        padding: 5px;
    }

    .prog p{
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .prog ul{
        font-size: 16px;
        padding-left: 20px;
        list-style: inside;
    }

    .prog ul li{
        padding: 5px 0;
    }

    .fac{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: .93em;
        position: relative;
        color: rgb(0, 0, 0);
    }

    .fac h2{
        position: relative;
        top: -40px;
        font-size: 2em;
    }
    
    .fac div img{
        max-width: 28%;
        margin-bottom: 16px;
        height: auto;
    }
    .fac div{
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        font-style: italic;
        margin: 10px 0 30px 0;
        background-color: #f1f1f1;
        box-shadow: 5px 5px 5px 1px #1f1f1f;
        width: 200px;
        height: 150px;
    }

    .galeri{
        overflow: hidden;
        margin: 10px;
    }
    
    .galeri h2{
        margin-left: 15px;
        margin-bottom: 18px;
        font-size: 1.6em;
    }

    .galeri figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite;
        display: flex;
        flex-direction: row;
    }
    
    .galeri figure img{
        border: 5px double black;
        border-radius: 5px;
        width: 20%;
        padding: 5px;
    }

    /* Footer */
    footer{
        position: absolute;
        bottom: -90px;
        width: 100%;
        height: auto;
        z-index: 1;
        background: hsla(0, 0%, 0%, 0.895);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer p{
        color: white;
        padding: 10px;
        font-size: .8em;
    }
    
    
}


/* scroll effect */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Keyframes Slider Animation */

@keyframes slider {
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
