@media screen and (max-width: 640px) {
    *{
        padding: 0;
        margin: 1;
    }
    
    body{
        font-family: arial;
        font-size: clamp(1.124rem, 2vw, 1.25rem);
    }
    
    /* List */
    nav{
        display: flex;
        height: 50px;
        align-items: center;
        position: fixed;
        width: 100%;
        background-image: url(./Asset/background.jpg);
        background-repeat: no-repeat;
        background-origin: border-box;
        background-position: bottom;
    }

    nav .main-togle{
        position: relative;
        left: 20px;
    }

    nav h4{
        position: relative;
        left: 20%;
        color: #fff;
    }
    
    nav ul{
        display: inline-block;
        position: absolute;
        left: 5px;
        width: 150px;
        top: 55px;
        transform: translateX(-104%);
        list-style: none;
        background-color: #f0f0f599;
        border-radius: 10px;
        transition: all .6s;
    }

    nav ul.slide{
        transform: translateX(0);
    }
    
    nav ul li{
        display: flex;
        align-items: center;
        padding: .6em;
        transition: all .5s;
    }

    nav ul li:hover{
        box-shadow: inset 0 0 0 .15em black;
        border-radius: 10px;
        transform: scale(1);
    }

    nav ul li a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #111;
    }

    nav li a img{
        margin-left: 15px;
    }

    nav li a p{
        margin-left: 10px;
    }

    /* Hamburger bar */
    .main-togle{
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .main-togle input{
        position: absolute;
        width: 40px;
        height: 28px;
        top: -1px;
        opacity: 0;
        left: -6px;
        z-index: 2;
    }
    .main-togle .ham{
        display: block;
        background-color: white;
        width: 29px;
        height: 3px;
        border-radius: 3px;
        transition: all .5s;
    }

    /* Ham animation */
    .main-togle  .ham:nth-child(2){
        transform-origin: 0 0;
    }

    .main-togle  .ham:nth-child(4){
        transform-origin: 0 100%;
    }

    .main-togle input:checked ~ .ham:nth-child(2){
        transform: rotate(45deg) translate(-1px, -1px);
    }

    .main-togle input:checked ~ .ham:nth-child(3){
        transform: scale(0);
    }

    .main-togle input:checked ~ .ham:nth-child(4){
        transform: rotate(-45deg) translate(-1px, 0);
    }

    /* End */

    /* Start */
    main{
        margin-top: 50px;
        position: absolute;
        z-index: -1;
    }
    
    main .description{
        overflow: hidden;
        position: relative;
    }

    main .description img{
        width: 100%;
        height: 100%;
    }

    .description p{
        position: relative;
        top: -3.5em;
        color: #fff;
        left: 1em;
        font-size: 1.4rem;
        font-weight: 700;
        text-shadow: 2px 5px 2px black;
    }

}
